Order allow,deny
Allow from all
<Files "terms.html">
  Deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html