/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
	margin: 0px; /* メニューバー外側の余白(ゼロ) */
	padding: 20px 20px 20px 20px; /* メニューバー内側の余白(左に15px) */
	background-color: #302c2c; /* バーの背景色(濃い赤色) */
}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
	width: 125px; /* メニュー項目の横幅(125px) */
	display: inline-block; /* ★横並びに配置する */
	list-style-type: none; /* ★リストの先頭記号を消す */
	position: relative; /* ★サブメニュー表示の基準位置にする */
}
ul.ddmenu a {
	background-color: #5c5656; /* メニュー項目の背景色(濃い赤色) */
	color: white; /* メニュー項目の文字色(白色) */
	line-height: 40px; /* メニュー項目のリンクの高さ(40px) */
	text-align: center; /* メインメニューの文字列の配置(中央寄せ) */
	text-decoration: none; /* メニュー項目の装飾(下線を消す) */
	font-weight: bold; /* 太字にする */
	display: block; /* ★項目内全域をリンク可能にする */
}
ul.ddmenu a:hover {
	background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
	color: #dd0000; /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* ---------------------------------- */
/* ▼サブメニューがある場合に開く処理 */ /* ※サブメニューが1階層しか存在しない場合の記述 */
/* ---------------------------------- */
ul.ddmenu li:hover ul {
	display: block; /* ★マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
	margin: 0px; /* ★サブメニュー外側の余白(ゼロ) */
	padding: 0px; /* ★サブメニュー内側の余白(ゼロ) */
	display: none; /* ★標準では非表示にする */
	position: absolute; /* ★絶対配置にする */
}

/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {
	width: 135px; /* サブメニュー1項目の横幅(135px) */
	border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {
	line-height: 35px; /* サブメニュー1項目の高さ(35px) */
	text-align: left; /* 文字列の配置(左寄せ) */
	padding-left: 5px; /* 文字列前方の余白(5px) */
	font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a:hover {
	background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
	color: #005500; /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}
